///
/// Editorial by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		@include vendor('appearance', 'none');
		@include vendor('transition', (
			'background-color #{_duration(transition)} ease-in-out',
			'color #{_duration(transition)} ease-in-out'
		));
		background-color: transparent;
		border-radius: _size(border-radius);
		border: 0;
		box-shadow: inset 0 0 0 2px _palette(accent);
		color: _palette(accent) !important;
		cursor: pointer;
		display: inline-block;
		font-family: _font(family-heading);
		font-size: 0.8em;
		font-weight: _font(weight-heading);
		height: 3.5em;
		letter-spacing: _font(kerning-heading);
		line-height: 3.5em;
		padding: 0 2.25em;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		white-space: nowrap;

		&:hover {
			background-color: transparentize(_palette(accent), 0.95);
		}

		&:active {
			background-color: transparentize(_palette(accent), 0.85);
		}

		&.icon {
			&:before {
				margin-right: 0.5em;
			}
		}

		&.fit {
			display: block;
			margin: 0 0 (_size(element-margin) * 0.5) 0;
			width: 100%;
		}

		&.small {
			font-size: 0.6em;
		}

		&.big {
			font-size: 1em;
			height: 3.65em;
			line-height: 3.65em;
		}

		&.no-border {
			box-shadow: none;
			border: 0;
		}

		&.special {
			background-color: _palette(accent);
			box-shadow: none;
			color: _palette(bg) !important;

			&:hover {
				background-color: lighten(_palette(accent), 3);
			}

			&:active {
				background-color: darken(_palette(accent), 3);
			}
		}

		&.disabled,
		&:disabled {
			@include vendor('pointer-events', 'none');
			opacity: 0.25;
		}
	}

	.timer {
		position: relative;
    padding: 6px 8px 5px 25px;

		&::before {
			content: "";
	    position: absolute;
	    top: 6px;
	    left: 9px;
	    width: 12px;
	    height: 12px;
	    background: url('../../images/timer.svg') 0 0 no-repeat;
		}

	}

	tr.bet {

		&--expired{
		opacity: 0.4;

			.timer {
				background: #879296;
				color: #fff;
				padding: 6px 8px 5px 8px;
				&::before {
					display: none;
				}
			}
		}

		&--win {
			background-color: #45abde;
			color: #fff;

			.timer {
				background-color: #fff;
				color: #25434e;
				padding: 6px 8px 5px 8px;
				&::before {
					display: none;
				}
			}

			h4 {
				color: #fff;
			}
			p {
				color: #e8e8e8;
			}
		}

		&--expires {
			background-color: #45abde;

			.timer {
				background: #f84646;
				color: #fff;
				&::before {
					background: url('../../images/timer-white.svg') 0 0 no-repeat;
				}
			}
		}
	}
