///
/// Editorial by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Form */

	form {
		margin: 0 0 _size(element-margin) 0;

		textarea{
			resize: vertical;
		}
	}

	label {
		color: _palette(fg-bold);
		display: block;
		font-size: 0.9em;
		font-weight: _font(weight-bold);
		margin: 0 0 (_size(element-margin) * 0.5) 0;
	}

	input[type="text"],
	input[type="date"],
	input[type="number"],
	input[type="password"],
	input[type="email"],
	input[type="tel"],
	input[type="search"],
	input[type="url"],
	select,
	textarea {
		@include vendor('appearance', 'none');
		background: _palette(bg);
		border-radius: _size(border-radius);
		border: none;
		border: solid 1px _palette(border);
		color: inherit;
		display: block;
		outline: 0;
		padding: 0 1em;
		text-decoration: none;
		width: 100%;

		&:invalid {
			box-shadow: none;
		}

		&:focus {
			border-color: _palette(accent);
			box-shadow: 0 0 0 1px _palette(accent);
		}
	}

	.select-wrapper {
		@include icon;
		display: block;
		position: relative;

		&:before {
			color: _palette(border);
			content: '\f078';
			display: block;
			height: _size(element-height);
			line-height: _size(element-height);
			pointer-events: none;
			position: absolute;
			right: 0;
			text-align: center;
			top: 0;
			width: _size(element-height);
		}

		select::-ms-expand {
			display: none;
		}
	}

	input[type="text"],
	input[type="date"],
	input[type="number"],
	input[type="password"],
	input[type="email"],
	input[type="tel"],
	input[type="search"],
	input[type="url"],
	select {
		height: _size(element-height);
	}

	textarea {
		padding: 0.75em 1em;
	}

	input[type="checkbox"],
	input[type="radio"], {
		@include vendor('appearance', 'none');
		display: block;
		float: left;
		margin-right: -2em;
		opacity: 0;
		width: 1em;
		z-index: -1;

		& + label {
			@include icon;
			color: _palette(fg);
			cursor: pointer;
			display: inline-block;
			font-size: 1em;
			font-weight: _font(weight);
			padding-left: (_size(element-height) * 0.6) + 0.75em;
			padding-right: 0.75em;
			position: relative;

			&:before {
				background: _palette(bg);
				border-radius: _size(border-radius);
				border: solid 1px _palette(border);
				content: '';
				display: inline-block;
				height: (_size(element-height) * 0.6);
				left: 0;
				line-height: (_size(element-height) * 0.575);
				position: absolute;
				text-align: center;
				top: 0;
				width: (_size(element-height) * 0.6);
			}
		}

		&:checked + label {
			&:before {
				background: _palette(fg-bold);
				border-color: _palette(fg-bold);
				color: _palette(bg);
				content: '\f00c';
			}
		}

		&:focus + label {
			&:before {
				border-color: _palette(accent);
				box-shadow: 0 0 0 1px _palette(accent);
			}
		}
	}

	input[type="checkbox"] {
		& + label {
			&:before {
				border-radius: _size(border-radius);
			}
		}
	}

	input[type="radio"] {
		& + label {
			&:before {
				border-radius: 100%;
			}
		}
	}

	::-webkit-input-placeholder {
		color: _palette(fg-light) !important;
		opacity: 1.0;
	}

	:-moz-placeholder {
		color: _palette(fg-light) !important;
		opacity: 1.0;
	}

	::-moz-placeholder {
		color: _palette(fg-light) !important;
		opacity: 1.0;
	}

	:-ms-input-placeholder {
		color: _palette(fg-light) !important;
		opacity: 1.0;
	}

	.formerize-placeholder {
		color: _palette(fg-light) !important;
		opacity: 1.0;
	}

	[type="reset"], [type="submit"], button, html [type="button"] {
		-webkit-appearance: button;
	}
	.preview {
		display: none;
		position: absolute;
	}
	.preview__remove {
		position: absolute;
		right: 0px;
		font-size: 16px;
		line-height: 16px;
		color: rgb(255, 255, 255);
		background-color: transparent;
		padding: 5px 10px;
		border-width: initial;
		border-style: none;
		border-color: initial;
		border-image: initial;
	}
	.preview__img {
		width: 113px;
		height: 113px;
	}
	.preview__img img {
			width: 100%;
			height: 100%;
	}
	img {
			border-style: none;
	}
	.visually-hidden {
		position: absolute;
		width: 1px;
		height: 1px;
		clip: rect(0px 0px 0px 0px);
		clip-path: inset(100%);
		margin: -1px;
		padding: 0px;
		overflow: hidden;
		border-width: 0px;
		border-style: initial;
		border-color: initial;
		border-image: initial;
}
	.form__item--file label span {
	display: block;
	width: 115px;
	height: 110px;
	background-color: rgba(245, 106, 106, 0.05);
	color: #f56a6a;
	font-size: 16px;
	text-align: center;
	font-weight: 700;
	box-sizing: border-box;
	cursor: pointer;
	padding: 40px 0px;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(245, 106, 106, 0.15);
	border-image: initial;
}

.form--invalid .form__error--bottom {
    display: block;
}

.form__item--invalid textarea, .form__item--invalid input, .form__item--invalid select {
    background: url(../img/error.svg) 97% 11px no-repeat rgb(255, 255, 255);
    border-color: rgb(248, 70, 70);
}
.form__item input, .form__item textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
}
button, hr, input {
    overflow: visible;
}
.form__error--bottom {
    display: none;
    margin-bottom: 15px;
    font-size: 16px;
}

.form__error {
    display: none;
    font-size: 11px;
    color: rgb(248, 70, 70);
}

.form__item--invalid .form__error {
    display: block;
}
