///
/// Editorial by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Section/Article */

	section, article {
		&.special {
			text-align: center;
		}
	}

	header {
		p {
			font-family: _font(family-heading);
			font-size: 1em;
			font-weight: _font(weight-heading-alt);
			letter-spacing: _font(kerning-heading);
			margin-top: -0.5em;
			text-transform: uppercase;
		}

		&.major {
			> :last-child {
				border-bottom: solid 3px _palette(accent);
				display: inline-block;
				margin: 0 0 _size(element-margin) 0;
			 	padding: 0 0.75em 0.5em 0;
			}
		}

		&.main {
			> :last-child {
				margin: 0 0 (_size(element-margin) * 0.5) 0;
			}
		}
	}

	.single-lot {
		p {
			text-align: justify;
		}
	}
