///
/// Editorial by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Footer */

	#footer {
		.copyright {
			color: _palette(fg-light);
			font-size: 0.9em;

			a {
				color: inherit;
			}
		}
	}

	.main-footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
    border-top: solid 5px #f56a6a;
    padding: 2em 0 4em 0;
		margin-top: 8em;

		& a {
			text-align: left;
			flex: 1;
			text-decoration: none;
			border: 0;
		}

		& ul {
			text-align: right;
		}
	}
